.university {
    position: relative;
    width: 450px;
    height: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 25px;
    background-color: #f5f5f5;
}

.university::before {
    content: '';
    position: absolute;
    right: -5px;
    bottom: -5px;

    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
}

.description {
    margin-top: auto;
}

.course {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.course-count {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dcb42a;
    border-radius: 50%;
    color: #fff;
}