.course {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    cursor: pointer;
}

.title {
    font-weight: 500;
}

.thumbnail {
    width: 350px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
}

.bottom-section {
    padding: 0 5px 0 0;
    display: flex;
    justify-content: space-between;
}

.continue-btn {
    width: 200px;
    padding: 5px;
    background-color: #6587ac;
    border: none;
    border-radius: 5px;

    font-size: 14px;
    color: #f1faee;

    transition: ease 0.3s;
    cursor: pointer;
}

.continue-btn:hover {
    transform: scale(1.025);
}